In [7]:
import pandas as pd
import numpy as np

In [8]:
df_1 = pd.DataFrame(np.random.randint(5, size = (3, 4)))

In [9]:
df_1.head()

   0  1  2  3
0  1  2  1  4
1  3  4  0  3
2  2  1  1  0

In [10]:
df_2 = pd.DataFrame(np.random.randint(4, size = (2, 3)))
df_2.head()

   0  1  2
0  3  0  1
1  1  1  3

In [11]:
combine = [df_1, df_2]

In [12]:
for data in combine:
    data['new'] = 0

In [13]:
df_1

   0  1  2  3  new
0  1  2  1  4    0
1  3  4  0  3    0
2  2  1  1  0    0

In [14]:
df_2

   0  1  2  new
0  3  0  1    0
1  1  1  3    0