In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1 = pd.DataFrame(np.random.randint(5, size = (3, 4)))

In [3]:
df_1.head()

   0  1  2  3
0  3  3  1  4
1  0  2  3  4
2  0  0  4  1

In [4]:
df_2 = pd.DataFrame(np.random.randint(4, size = (2, 3)))
df_2.head()

   0  1  2
0  3  0  2
1  1  0  2

In [5]:
combine = [df_1, df_2]

In [6]:
for data in combine:
    data['new'] = 0

In [7]:
df_1

   0  1  2  3  new
0  3  3  1  4    0
1  0  2  3  4    0
2  0  0  4  1    0

In [8]:
df_2

   0  1  2  new
0  3  0  2    0
1  1  0  2    0

In [9]:
import sklearn
print(sklearn.__version__)

0.19.0

In [15]:
from sklearn.model_selection import RepeatedKFold, StratifiedKFold

In [16]:
X = np.array([[1, 2], [3, 4], [1, 2], [3, 4]])
random_state = 12883823
rkf = RepeatedKFold(n_splits=2, n_repeats=3, random_state=random_state)
for train, test in rkf.split(X):
    print("%s %s" % (train, test))

[2 3] [0 1]
[0 1] [2 3]
[0 2] [1 3]
[1 3] [0 2]
[0 3] [1 2]
[1 2] [0 3]

In [50]:
def get_oof(clf, x_train, y_train, x_test):
    oof_train = np.zeros((ntrain,))
    oof_test = np.zeros((ntest,))
    oof_test_skf = np.empty((NFOLDS, ntest))
    skf = StratifiedKFold(n_splits=NFOLDS, shuffle = True, random_state=12883823)
    skf.get_n_splits(x_train)

    for i, (train_index, test_index) in enumerate(skf.split(x_train, y_train)):
        x_tr = x_train[train_index]
        y_tr = y_train[train_index]
        x_te = x_train[test_index]

        #clf.fit(x_tr, y_tr)
        print 'i is {}, train_index is {}, test_index is {}'.format(i, train_index, test_index)
        
        oof_train[test_index] = -1
        oof_test_skf[i, :] = -1

    oof_test[:] = oof_test_skf.mean(axis=0)
    return oof_train.reshape(-1, 1), oof_test.reshape(-1, 1)

In [51]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()

In [67]:
x_train = np.random.randint(3, size = (10, 4))
x_train

array([[0, 0, 1, 1],
       [2, 1, 0, 0],
       [0, 1, 0, 1],
       [1, 0, 2, 1],
       [0, 0, 2, 1],
       [0, 0, 1, 1],
       [1, 2, 0, 1],
       [2, 1, 0, 1],
       [0, 1, 2, 0],
       [2, 2, 2, 0]])

In [68]:
y_train = np.random.randint(2, size = 10)

In [69]:
x_test = np.random.randint(3, size = (3, 4))

In [70]:
NFOLDS = 5
ntrain = x_train.shape[0]
ntest = x_test.shape[0]

In [71]:
get_oof(clf, x_train, y_train, x_test)

i is 0, train_index is [0 1 4 5 6 7 8 9], test_index is [2 3]
i is 1, train_index is [0 1 2 3 4 6 7 9], test_index is [5 8]
i is 2, train_index is [0 1 2 3 4 5 6 8], test_index is [7 9]
i is 3, train_index is [0 1 2 3 5 7 8 9], test_index is [4 6]
i is 4, train_index is [2 3 4 5 6 7 8 9], test_index is [0 1]

(array([[-1.],
        [-1.],
        [-1.],
        [-1.],
        [-1.],
        [-1.],
        [-1.],
        [-1.],
        [-1.],
        [-1.]]), array([[-1.],
        [-1.],
        [-1.]]))